<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>家計簿</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='input.css') }}">
</head>
<body>

<header>
    <div>入力</div>
    <div id="username">ユーザー：{{ username or 'ゲスト' }}</div>
</header>

<table id="editableTable">
  <thead>
    <tr>
      <th>日付</th>
      <th>商品名</th>
      <th>カテゴリ</th>
      <th>メモ</th>
      <th>金額</th>
    </tr>
  </thead>
  <tbody>
    <tr class="no-border" contenteditable="true">
    </tr>
  </tbody>
</table>

<video id="video" width="400" height="300" autoplay playsinline style="display:none;"></video>
<canvas id="canvas" width="400" height="300" style="display:none;"></canvas>

<div class="buttons">
    <button onclick="startImageCapture()" id="loadButton">レシート<br>読み込み</button>
    <!-- 非表示のinput -->
    <input type="file" accept="image/" id="uploadInput" style="display:none">
    <button onclick="submitData()">確定</button>
</div>

<nav>
    <a>入力</a>
    <a href="{{ url_for('record.record') }}">記録</a>
    <a>レポート</a> 
    <a>メニュー</a>
</nav>

    <script src="{{ url_for('static', filename='input.js') }}" defer></script>
</body>
</html>
